html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $white;
  padding: 0;
  margin: 0;
  font-family: $main-font;
  color: #222;
}

a {
  text-decoration: none;
  color: rgba($blue, .9);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
