<div ng-class="contactCtrl.pageClass">

    <main-nav></main-nav>

    <loading></loading>

    <form name="contactForm" ng-submit="contactCtrl.sendMessage()" ng-show="contactCtrl.displayForm" novalidate>
        <div class="row no-animate">
            <div class="col-sm-12">
                <label for="email">E-mail</label>
                <span class="form-error"
                      ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">Enter a valid e-mail</span>
                <input type="email" id="email" name="email" placeholder="Enter your e-mail" autocomplete="off" required
                       ng-model="contactCtrl.formData.email" />
            </div>
        </div>
        <div class="row no-animate">
            <div class="col-sm-12">
                <label for="message">Message</label>
                <span class="form-error"
                      ng-show="contactForm.message.$error.minlength">Your message is too short</span>
                <textarea id="message" name="message" placeholder="Enter your message" required
                          ng-model="contactCtrl.formData.message"
                          ng-minlength="20"
                          ng-maxlength="1000"></textarea>
            </div>
        </div>
        <div class="row actions">
            <div class="col-sm-6">
                <button type="reset" class="btn">Cancel</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="contactForm.$invalid">Send</button>
            </div>
        </div>
    </form>

    <social-icons></social-icons>

</div>
