.loading {
  padding: 4.5em 0 5.5em 0;

  svg {
    display: block;
    margin: 0 auto;

    path {
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2;
      fill: none;
    }

  }

  span {
    font-size: 1em;
    text-align: center;
    display: block;
    margin-top: 1.4em;
    color: $black;
  }

}
