.loading {
  padding: 4.5em 0 5.5em 0;
}

.loading svg {
  display: block;
  margin: 0 auto;
}

.loading svg path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  fill: none;
}

.loading span {
  text-transform: uppercase;
  font-size: .8em;
  text-align: center;
  display: block;
  margin-top: 1.2em;
}
