nav {
  margin: 0 0 2.5em 0;
  text-align: center;
  font-weight: bolder;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin-right: .5em;

  &:after {
    content: '';
    display: block;
    margin: .25em auto 0;
    height: 1px;
    width: 0px;
    background: transparent;
    @include transition('width .35s ease, background-color .35s ease');
  }

  &:hover:after, &.active:after {
    display: block;
    width: 100%;
    background: rgba($black, .9);
    @include transition('width .35s ease, background-color .35s ease');
  }

  &:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    font-size: 1em;
    font-weight: normal;
  }

}
