.social-icons {
  margin: .9em 0 0 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline;
    padding: 0 .6em;
    text-align: center;

    a {
      text-decoration: none;
      color: #565656;

      &:hover {
        text-decoration: none;
        color: rgba($blue, .9);
        transition: .25s color;
      }

    }

    &:last-child a {
        vertical-align: middle;
    }

  }

}

.social-icons li a span[class^="ti-"] {
  font-size: 1.15em;
}
