<div class="about-widget-container row">
  <div class="col-xs-12">
    <h3 class="about-widget-title">About the author</h3>
    <div class="about-widget-content">
        <img src="/src/assets/img/profile.jpg" alt="" />
        <p>I am a front-end/JavaScript developer passionate about coding, pixels, UI and e-commerce. <br/>
          I live in Montreal and am currently working for SAP Hybris as a development consultant in Expert Services.
        </p>
        <social-icons></social-icons>
    </div>
  </div>
</div>
