<div class="about-widget-container row">
  <div class="col-xs-12">
    <h3 class="about-widget-title">About the author</h3>
    <div class="about-widget-content">
        <img src="/assets/img/profile.jpg" alt="Loïc de Laubier" />
        <p>I am Loïc, a passionate Software Developer living in Montreal, Canada. I take a great interest in the JavaScript ecosystem, UI development and open-source technologies. I am currently working for SAP/SAP Hybris in a product development team on Commerce as a Service (CaaS) and love to build great web applications and user interfaces. Feel free to connect with me online or <a href="/contact" title="Contact">contact</a> me!</p>
        <social-icons></social-icons>
    </div>
  </div>
</div>
