<div class="about-widget-container row">
  <div class="col-xs-12">
    <h3 class="about-widget-title">About the author</h3>
    <div class="about-widget-content">
        <img src="/assets/img/profile.jpg" alt="Loïc de Laubier" />
        <p>I am Loïc, a passionate Software Developer living in Canada. I love to build web applications and have a strong interest in the JavaScript ecosystem and open-source technologies. I am currently working for Shopify in RnD with technologies like TypeScript, React and GraphQL. Feel free to connect with me online or <a href="/contact" title="Contact">contact</a> me!</p>
        <social-icons></social-icons>
    </div>
  </div>
</div>
