<div class="loading" ng-show="display">
    <svg width="60px" height="60px">
        <path class="loading-path" stroke="#7cbce6" d="M 30 30 m 0 -25 a 25 25 0 1 1 0 50 a 25 25 0 1 1 0 -50"></path>
        <path class="success-path" stroke="#7cbce6" d="M 45 15 L 27.5 37.5 L 21 27.5"></path>
        <path class="error-path" stroke="#f44336" d="M 30 5 A 25 25 0 0 1 47.5 12.5 L 22.5 37.5"></path>
        <path class="error-path2" stroke="#f44336" d="M 30 15 A 15 15 0 0 1 40.5 40.5 L 22.5 22.5"></path>
    </svg>
    <span>{{ loadingService.message }}</span>
</div>
