<nav>
    <ul>
        <li ng-hide="homeCtrl.isHomePage" ng-class="{active: navCtrl.isCurrent('/')}"><a href="/" title="Home">Home</a></li>
        <li class="pulse" ng-class="{active: navCtrl.isCurrent('/articles') || navCtrl.isCurrent('/about/:id')}"><a href="/articles" title="Articles">Articles</a></li>
        <li ng-class="{active: navCtrl.isCurrent('/about')}"><a href="/about" title="About">About</a></li>
        <li ng-class="{active: navCtrl.isCurrent('/contact')}"><a href="/contact" title="Contact">Contact</a></li>
    </ul>
</nav>
