.page-about {
  background-color: rgba($white, .85);
  text-align: center;
}

.page-about img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 2em auto;
}

.page-about p {
  font-weight: 100;
  font-size: 1.1em;
  line-height: 1.5em;
}

.page-about .social-icons {
  margin-top: 1.2em;
}

