.page-about {
  background-color: rgba($white, .85);
  text-align: center;

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1.5em auto;
  }

  p {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.6em;
  }

  .social-icons {
    margin-top: 1.1em;
  }

  .twitter-follow-container {
    min-height: 20px;
  }
}


@media screen and (max-width: $mobile) {
  .about {
    .view-container {
      width: 100%;
      height: 100%;
      padding: .4em;
    }

    .page-about {
      width: 95%;
      padding: 1.2em 0;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
