.page-about {
  background-color: rgba($white, .85);
  text-align: center;

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 1.5em auto;
  }

  p {
    font-weight: 100;
    font-size: 1em;
    line-height: 1.4em;
  }

  .social-icons {
    margin-top: 1.1em;
  }

}

.twitter-follow-container {
  min-height: 20px;
}

@media screen and (max-width: $tablet){

  .body-about .view-container {
    height: 100%;
  }

  .page-about {
    padding-bottom: 1.5em;
  }

}
