.page-articles {

  text-align: center;

  .article-link {
    display: block;
    text-decoration: none;
    color: $black;
    margin-top: 1.5em;
    font-size: 1.1em;
    font-weight: normal;
    padding: 1em 0;
    border-bottom: 1px solid $medium-grey;
    transition: .25s all linear;

    &:hover {
      border-color: rgba($blue, .9);
      color: rgba($blue, .9);
      border-bottom: 1px solid $medium-grey;
      @include transition(.25s all linear);

      .article-tag {
        color: rgba($blue, .75);
        @include transition(.25s color linear);
      }

    }

    &:hover:after {
      color: rgba($blue, .75);
      @include transition(.25s color linear);
    }

    &:after {
      content: attr(data-published-date);
      text-align: center;
      display: block;
      font-size: .8em;
      font-weight: 100;
      color: #222;
      margin-top: .3em;
    }

    &:last-child {
      margin-bottom: 3em;
    }

    .article-tag-container {
      margin: .2em 0 .35em 0;
    }

    .article-tag {
      display: inline;
      font-size: .7em;
      margin-right: .4em;
      transition: .25s color linear;
    }

  }

  // .article-list {
  //   .article-link {
  //     &:first-child {
  //       margin-top: 6em;
  //     }
  //     &:last-child {
  //       margin-bottom: 6em;
  //     }
  //   }
  // }

}

.pagination {
  text-align: center;
  padding-left: 0;

  > li {
    display: inline;
  }
}
