.article-single {
  background: linear-gradient(to top, $white-variation-light, $white-variation);
  height: auto;
  min-height: 100%;

  .view-container {
    width: 90%;
    margin: 0 auto;
    max-width: inherit;
  }

  .main-container {
    display: block;
    position: inherit;
  }

  canvas {
    display: none !important;
  }

}

.page-article-single {
  width: 90%;
  background: $pure-white;
  max-width: inherit;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 3em;

  h1,
  h2,
  h3 {
    font-weight: 300;
  }

  h1 {
    margin-bottom: .3em;
    font-size: 2.3em;
    font-family: $main-font;
    text-align: center;
  }

  h2 {
    text-align: left;
    color: $light-black;
    font-family: $main-font;
    margin-top: 1.4em;
    font-size: 1.8em;
  }

  .article-meta {
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 2.5em;
    time {
      font-size: .9em;
    }
  }

  article header {
    margin-bottom: 1.4em;
  }

  article section {
    font-size: 1em;
    line-height: 1.5em;
    color: $black;

    p {
      &::selection {
        background: rgba($blue, .1);
      }
      &::-moz-selection {
        background: $blue;
      }
    }
  }

  [hljs] {
     pre {
       min-width: 500px;
     }

     // Quick fix for JSX rendering
     .xml {
       white-space: pre;

       .hljs-tag .hljs-name {
         text-transform: capitalize;
       }
     }
  }

  .code-quote {
    display: inline-block;
    background-color: $grey;
    word-break: break-all;
    padding: 0 .3em;
    margin-bottom: .2em;
    border-radius: .2em;
    vertical-align: baseline;
  }

  .file-title {
    font-family: $main-font;
    font-weight: bolder;
    font-size: 1.1em;
    word-wrap: break-word;
    color: $light-black;
    margin-bottom: 0;
  }

  .content-img {
    width: 100%;
    height: auto;
    border: 1px solid $medium-grey;
    margin-bottom: 1.5em;

    &.no-border {
      border: none;
    }
  }

  .back-link {
    display: inline-block;
    margin: .4em 0 1.2em 0;

    &:before {
      content:"\003c";
      margin-right: .25em;
    }
  }

}

@media screen and (max-width: $mobile){

  .article-single {

    .view-container {
      width: 98%;
      padding: .4em;
    }

    .page-article-single {
      width: 95%;
      padding: 1.2em;
      margin-top: 1em;
      margin-bottom: 1em;

      [hljs] {
        overflow-x: scroll;
      }
    }

  }

}
