.page-contact {
  min-width: 450px;

  .row [class^='col-'] {
    padding-bottom: 1.4em;
  }

  .row:not(:first-child){
    margin-top: .6em;
  }

  form {
    min-height: 315px;
    width: 100%;
  }

  label {
    display: inline-block;
    margin-bottom: .4em;
    font-size: .75em;
    text-transform: uppercase;
  }

  input {
    width: 100%;
    height: 2.6em;
    padding: .5em .5em .7em 0;
    margin-top: .6em;
    font-size: .9em;
    outline: none;
    border: none;
    border-bottom: 1px solid $medium-grey;
    font-weight: 100;
    font-family: $main-font;
    color: $light-black;
    background: none;
    border-radius: 0;
    @include transition(.5s border-bottom-color);

    &:focus {
      border-bottom-color: rgba($blue, .7);
      @include transition(.4s border-bottom-color);
    }

  }

  textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 6em;
    padding: .5em .5em .7em 0;
    margin-top: .6em;
    font-size: .9em;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $medium-grey;
    font-weight: 100;
    font-family: $main-font;
    color: $light-black;
    background: none;
    @include transition(.5s border-bottom-color);

    &:focus {
      border-bottom-color: rgba($blue, .7);
      @include transition(.4s border-bottom-color);
    }

  }

  .actions {
    margin-top: 1.1em !important;
  }

  .social-icons {
    margin-top: 1.8em;
    text-align: center;
  }

}

.form-error {
  position: absolute;
  color: $error;
  font-size: .75em;
  display: block;
  opacity: 1;
  line-height: 1.2em;
  font-weight: 100;
}

.form-error.ng-hide {
  opacity: 0;
}

.form-error.ng-hide-add.ng-hide-add-active,
.form-error.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: opacity ease-in 0.3s;
  transition: opacity ease-in 0.3s;
}

.message-confirmation {
  text-align: center;
  margin: 5em 0;
  background-color: rgba($pure-white,.7);
  padding: 1.5em 0;
  font-weight: 100;
  border: 1px solid $black;
}


@media screen and (max-width: $mobile) {
  .page-contact {
    min-width: inherit;
    padding-right: 1em;
    padding-left: 1em;

    label {
      font-size: .85em;
    }

    input,
    textarea {
      font-size: 16px;
    }
  }

  .actions .row [class^='col-'] {
    padding-bottom: .8em;
  }
}
