.page-home {
  text-align: center;

  nav {
    margin: 1.7em 0 1em 0;
  }

  h1 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0 0 .5em 0;
  }

  p {
    font-size: 1.1em;
    font-weight: 100;
    margin: .3em 0 .4em 0;
  }

  p + p {
    font-size: 1em;
  }

}

@media screen and (max-width: $mobile){

  .page-home {

    nav {
      a {
        font-size: .8em;
      }
    }

    h1 {
      font-size: 1.1em;
    }

    p {

      font-size: .9em;

    }

  }

}
