.page-home {
  text-align: center;

  nav {
    margin: 1.7em 0 1em 0;
  }

  h1 {
    font-size: 1.4em;
    font-weight: 300;
    margin: 0 0 .5em 0;
  }

  p {
    font-size: 1.1em;
    font-weight: 100;
    margin: .45em 0;
  }
}

.page-home .pulse {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  @include animation('pulse 1.1s both ease-in');
}

@media screen and (max-width: $mobile) {
  .page-home {

    nav {
      a {
        font-size: .8em;
      }
    }

    h1 {
      font-size: 1.2em;
      margin-bottom: .75em;
    }

    p {

      font-size: .9em;

    }

    p + p {
      font-size: .9em;
    }

  }
}
