[class*="page-"] {
  background-color: rgba($white, .8);
  padding: 1.7em;
  max-width: 500px;
  margin: 0 auto;
}

// Animations
body {
  .ng-enter {
    @include animation('fadeIn .5s both ease-in');
    z-index: 8888;
  }
}

@media screen and (max-width: $mobile) {
  [class*="page-"] {
    padding: .4em;
    max-width: inherit;
    width: 100%;
  }
}

@media screen and (max-width: $tablet) {
  [class*="page-"] {
    width: 100%;
  }
}
