.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.view-container {
  width: auto;
  max-width: 550px;
  padding: 1em;
}

@media screen and (max-width: $mobile){
  .view-container {
    width: 100%;
    padding: 1.5em .7em;
  }

  canvas {
    display: none !important;
  }
}
