.ng-enter {
  @include animation('scaleUp .5s both ease-in');
  z-index: 8888;
}

.no-animate {
   @include transition('none !important;');
}

.page-home .pulse {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  @include animation('pulse 1.1s both ease-in');
}

@include keyframes(scaleUp) {
  from {
    opacity: 0;
    transform: scale(.95);
  }
}

@include keyframes(rotate) {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@include keyframes(pulse) {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}
