.no-animate {
  @include transform('none !important');
  @include animation('none !important');
}

@include keyframes(scaleUp) {
  from {
    opacity: 0;
    transform: scale(.95);
  }
}

@include keyframes(rotate) {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(pulse) {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}