/* Colors */
$pure-white: #ffffff;
$white: #fefffe;
$white-variation: #f8f8f8;
$blue: #2176ae;
$black: #565656;
$light-black: #222222;
$grey: #ecf0f1;
$medium-grey: #dedede;
$dark-grey: #aaaaaa;
$error: #e63946;

/* Fonts */
$font-path: '../fonts/';
$main-font: 'Roboto', sans-serif;
$secondary-font: 'PT Serif', serif;

/* Breakpoints */
$mobile : 767px;
$tablet: 1024px;
$desktop: 1200px;
